$theme-color: #f0642f;
$text-color: #23231f;
$border-color: #d8d3c7;
$bg-color: #fcfaf5;
$bg-color-secondary: #f3f0e8;
$bg-color-tertiary: #e8e4da;
$sidebar-width: 18rem;
$content-width: 780px;
$home-page-width: 100%;
