$theme-color: #e7793f;
$text-color: #26352b;
$border-color: #ded6c5;
$bg-color: #fffaf0;
$bg-color-secondary: #f7f2e8;
$bg-color-tertiary: #eee6d7;
$sidebar-width: 18rem;
$content-width: 780px;
$home-page-width: 100%;
